<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.product }} - My Wish List</title>
	{% load staticfiles %}
	<link rel="stylesheet"
		  href="{% static 'eproj3/css/styles.css' %}"
		  media="screen"
		  title="no title"
		  charset="utf-8">
</head>
<body>
	<div class="container">
		<div class="nav_top">
			<a href="{% url 'eproj3_index' %}">Home</a>
			<a href="{% url 'eproj3_logout' %}">Log out</a>
		</div>
		<h3>{{ product.product }}</h3>
		<p>Users who added this product/item to their wish lists:</p>
		{% if users %}
			{% for user in users %}
				<p>{{ user }}</p>
			{% endfor %}
		{% endif %}
		<div class="nav_bottom">
			<a href="{% url 'eproj3_additem' %}">Add item</a>
		</div>
		<div class="footer">
			<img src="{% static 'eproj3/img/coding_dojo.png' %}">
		</div>
	</div>
</body>
</html>